{% extends "users/layout.html" %}

{% block content %}
<h1 class="text-center mb-4">Відновлення пароля</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Введіть вашу електронну пошту</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Відновити пароль</button>
    </form>
  </div>
</div>
{% endblock %}